USE [master]
GO
/****** Object:  Database [mspr]    Script Date: 22/06/2020 11:20:50 ******/
CREATE DATABASE [mspr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mspr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mspr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mspr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mspr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mspr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mspr]
GO
/****** Object:  Table [dbo].[equipement]    Script Date: 22/06/2020 11:20:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[equipement] ON 

INSERT [dbo].[equipement] ([id], [libelle]) VALUES (1, N'casque')
INSERT [dbo].[equipement] ([id], [libelle]) VALUES (2, N'gant')
SET IDENTITY_INSERT [dbo].[equipement] OFF
GO
USE [master]
GO
